# PlatformIO
.pio/
.pioenvs/
.piolibdeps/
.clang_complete
.gcc-flags.json

# Build outputs
*.bin
*.elf
*.hex
*.map

# Editor and OS files
.vscode/
.idea/
*.swp
*.swo
Thumbs.db
Desktop.ini

# Logs
*.log

